.batalha{
    display: flex;    
}

.lado-esquerdo{
    text-align: left;
    width: 16.6%;
    
}

.resposta{
    margin: auto;
    width: 16.6%;
    font-size: 3rem;
}

.versus{
    width: 33.3%;
    font-size: 3rem;
    margin: auto;
}

.lado-direito{
    text-align: right;
    width: 16.6%;
}

.opcoes-gesto{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    font-size: 3rem;
    background-color: transparent;
    border: none;

}

.btn-left{
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .opcoes-gesto{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .resposta{
        font-size: 2rem;
    }

    .versus{
        font-size: 2rem;
    }
}