.jogadores{
    display: flex;
    font-size: 1.2rem;
}

.player1{
    width: 50%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(78, 146, 78);
    padding: 5px;
}

.maquina{
    width: 50%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(156, 47, 47);
    padding: 5px;

}


@media screen and (min-width: 850px){
    .vitorias{
        font-size: 1.3rem;
        margin: 0.5rem;
    }

    .jogadores{
        font-size: 1.8rem;
    }
}